/* === === ===
jloffler
2021
Written for - freeCodeCamp Tribute Page project

Swatch colours
*
*
=== === === */

/* === TO DO ===
 - need to make body not grow to fit photos, but only to be vp size
     container for the images?
*/

/*
Table of Conents
 - Resets and overrides
 - Links and type
 - Main layout
 - Secondary layout structures
 - Form elements
 - Misc
 */

/* *** Resets and Overrides *** */
body {
  width: 100%;
  background-color: green;
  font-family: arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *** Links and Type *** */

/* *** Main Layout *** */

/* #SPLASH-IMAGE */
#splash-image {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  border: 10px solid yellow;
}

/* .HEADER (DESKTOP) */
header {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  text-align: center;
  position: relative;
}

.header-wrap {
  background-color: rgba(128, 128, 128, 0.5);
  margin: 0 15vw 0 15vw;
  padding: 0.5em;
  border-radius: 1.2em;
  position: absolute;
  bottom: 2rem;
}

.desktop-splash-quote {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 0 0.7em 0;
}

#title {
  font-size: 2.5rem;
  margin: 0 0 0.4em 0;
}


/* .CONTENT-CONTAINER */
.content-container {
  background-color: grey;
}

/* .INTRODUCTION-WRAP */
.introduction-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.quote {
  display: block;
  width: 25vw;
  border: 2px solid black;
}

#img-div {
  display: block;
  border: 2px solid black;
  text-align: center;
}

#image {
  /*
  image size:
  should be set by height?
  but it should have a max and min height.
  MOBILE:
  should be set by width--not quite full width--quote should also be set by;
  
  Is there some setup that won't use media queires? by width? always have some 
  margin or padding (for mobile edges).

  With flexbox, can you make something LIKE a certain size, but accept a different size
    I guess it should only go side by side when maxed? or have a minimum width?
       and with MINIMUM WIDTH -- that's when it goes single
  */
  width: auto;
}

.footer {
  /*position: relative;*/
  width: 100%
  height: 70vh;
}
#footer-image {
  display: block;
  /* images default to inline, which leaves space for descenders */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70vh;
  border: 10px solid red;
  /*position: absolute;*/
  bottom: 0;
  left: 0;
  z-index: -1;
}